



body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(177, 196, 198);
}
.title{
    font-size: 40px;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

/* Quiz container */
#quiz {
   
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 10px solid rgba(93, 91, 91, 0.5);
    border-radius: 8px;
}


#quiz .question {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 50px;
}
/* radio dots in front of answers */
label input[type="radio"]{
    width: 20px;
    height: 20px;
}




#quiz .answers label {
    font-weight: bold;
    color: rgb(16, 14, 14);
    cursor: pointer;
    display: block;
    padding: 5px  10px ;
    font-size: 1.5rem;
    margin: 10px;
  
   
}

#quiz .answers label:hover{
    color: rgb(104, 150, 150);
    
}

/* submit button */
#submit {
    
    display: block;
    margin: 0 auto;
    font-size: 2rem;
    background-color: #a6c6d3;
    color: rgb(62, 51, 51);
    padding: 20px 100px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

#submit:hover {
    background-color:#84bad0 ;
}

/* Results container */
#results {
    font-weight: bold;
    margin-top: 20px;
}

/* Result messages */
#aResult, #bResult, #cResult, #dResult {
    display: none;
}



/* button from the pop up */

     
    
    #myButton:hover{
        cursor: pointer;
        background-color: #cce1dc;
    }

    .popup {
        font-size: larger;
        background-color: #d8f7ef;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
         padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
        z-index: 9999;}
        .popup button{
            font-size: 20px;
        }


        #myButton{
        display: none;
        background-color: #b0e3d6;
        padding: 20px;
        padding-bottom: 5px;
        padding-top: 5px;
        border-radius: 10px;
         font-weight: bold;
         font-size: larger;
        ;}



        .warningPopUp {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999; 
        }
        
        .warningPopUp .popup-content {
           
       
    justify-content: center;
            font-size: larger;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            position: relative; 
            text-align: center; 
        }
        
        .warningPopUp button {
            position: absolute;
            bottom: 20px; 
            left: 50%;
            /* centre the button orizontaly */
             transform: translateX(-50%);
            padding: 10px 30px;
            font-size: 20px;
            background-color: #618cb9;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .warningPopUp button:hover{
            background-color: #3b77b8;
        }





        .warningText {
            padding-bottom: 50px;
        }


        
        

        
        